/* img { */
  /* float: left; */

#rightbar {
  width: 480px;
  float: right;
  color: blue;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: 0 1px 1px #cccccc;
}

#wholesite {
  background-color: red;
  width: 1000px;
  height: auto;
  margin:0 auto;
  padding:5px;

}

#leftbar {
  width: 480px;
  color: green;
  float: left;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: 0 1px 1px #cccccc;
}
