img {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
  padding-left: -5px;
}

#rightbar {
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #F5F1F1;
  width: 600px;
  float: right;
  color: #302D2D;
  font-size: 15px;
  /* font-family: monospace; */
  border-top: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  box-shadow: 0 10px 10px #cccccc;
}

#lowerrightbar {
  background-color: #F5F1F1;
  padding-left: 5px;
  padding-top: 20px;
  width: 600px;
  height: auto;
  float: right;
  color: #302D2D;
  font-size: 15px;
  /* font-family: monospace; */
  border-top: 2px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  box-shadow: 0 10px 10px #cccccc;
}


#wholesite {
  /* background-color: red; */
  width: 1000px;
  height: auto;
  margin:0 auto;
  /* padding:5px; */

}

#leftbar {
  background-color: #363861;
  padding-left: 5px;
  width: 360px;
  color: #CDD0CD;
  /* font-family: monospace; */
  /* font-style: oblique; */
  font-size: 15px;
  float: left;
  border-top: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-bottom: 0px solid #999;
  border-right: 0px solid #999;
  box-shadow: 0 10px 10px #cccccc;
}

.p {
  padding: 2px
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.h2{
  color: #0E400D;
}
