/* img { */
  /* float: left; */

#rightbar {
  width: 480px;
  float: right;
  color: blue;
  border-color: black;
  border-radius: 10px;
}

#wholesite {
  background-color: red;
  width: 1000px;
  height: auto;
  margin:0 auto;
  padding:0;

}

#leftbar {
  width: 480px;
  color: green;
  float: left;
  border-color: black;
}
