img {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
}

#rightbar {
  padding-left: 5px;
  width: 600px;
  float: right;
  color: grey;
  font-size: 15px;
  font-family: monospace;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: 0 1px 1px #cccccc;
}

#wholesite {
  /* background-color: red; */
  width: 1000px;
  height: auto;
  margin:0 auto;
  padding:5px;

}

#leftbar {
  padding-left: 5px;
  width: 360px;
  color: grey;
  font-family: monospace;
  font-style: oblique;
  font-size: 15px;
  float: left;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: 0 1px 1px #cccccc;
}

.p {
  padding: 2px
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


  /* .footer { */
  /* background-color: blue; */
  /* width: 1000px; */

/* } */
